#pp-canvas {
    height: 500px;
    width: 700px;
    border-style: solid;
    padding: none;
    margin: auto;
}

#color-swatch {
    width: 200px;
    height: 100%;
    float: left;
}

#color-grid {
    width: 169px;
    height: 297px;
    border-style: solid;
    margin: 15px;
    cursor: pointer;
    overflow: hidden;
}

#button-div {
    padding: 10px 10px;
}

button {
    width: 100px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 3px #d6d1d1;
    user-select: none;
    border-radius: 8px;
    padding: 5px;
}

button:active {
    transform: translateY(3px);
    box-shadow: none;
}

button:focus {
    outline: 0;
}

button:hover {
    background-color: #2ccf2c;
}

#canvas {
    position: relative;
    height: 100%;
    width: 494px;
    border-style: solid;
    float: right;
    right: -3px;
    top: -3px;
    overflow: hidden;
}

table, tr, td {
    border: 1px solid;
    border-collapse: collapse;
}

td {
    background-color: white;
}

h1 {
    text-align: center;
}