#pp-canvas {
    height: 500px;
    width: 700px;
    border-style: solid;
    padding: none;
}

#color-swatch {
    width: 200px;
    height: 100%;
    float: left;
}

#color-grid {
    width: 169px;
    height: 297px;
    border-style: solid;
    margin: 15px;
    cursor: pointer;
    overflow: hidden;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 12px;
    margin: 5px;
    margin-left: 60px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px #d6d1d1;
}

#clear {
    background-color: #e02929;
}

#clear:hover {
    background-color: #2ccf2c;
}

button:active {
    transform: translateY(3px);
    box-shadow: none;
}

button:focus {
    outline: 0;
}

#canvas {
    position: relative;
    height: 100%;
    width: 494px;
    border-style: solid;
    float: right;
    right: -3px;
    top: -3px;
    overflow: hidden;
}

table, tr, td {
    border: 1px solid;
    border-collapse: collapse;
}

h1 {
    text-align: center;
}